*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Helvetica Neue', Arial, sans-serif;
    color: white;
    line-height: 1.6;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.hero {
  background-image: url(Image/banner.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 560px;
  padding: 100px 0;
}

.hero .container {
    max-width: 1200px;
    padding: 0px 20px;
    margin: auto;
    display: flex;
    flex-flow: column nowrap;
    gap: 24px;
}

.hero h1 {
  font-size: 3.5rem;
  font-weight: 800;
  margin-bottom: 1.5rem;
  letter-spacing: -0.02em;
  text-align: center;
}

.hero p {
  font-size: 1.25rem;
  margin-bottom: 2rem;
  max-width: 920px;
  margin-left: auto;
  margin-right: auto;
  opacity: 0.9;
  text-align: center;

  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.imagem-feature {
  width: 100%;
  max-width: 500px;
  height: auto;
  border-radius: 12px;
} 

.botoes {
  display: flex;
  gap: 1rem;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: -25px;
}

.botao {
  padding: 16px 32px;
  border: none;
  border-radius: 28px;
  font-size: 1rem;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.3s ease;
  text-decoration: none;
  display: inline-block;
}

.botao.primario {
  background: white;
  color: #5865f2;
}

.botao.primario:hover {
  color: #4752c4;
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
}

.botao.secundario {
  background: #23272a;
  color: white;
}

.botao.secundario:hover {
  background: #2c2f33;
}

.botao.grande {
  padding: 20px 40px;
  font-size: 1.2rem;
}

.funcionalidades {
  background: white;
  color: #23272a;
  padding: 80px 0;
  display: flex;
  flex-flow: row wrap;
  gap: 16px;
  width: 100%;
  max-width: 1280px;
  margin: auto;
}

.funcionalidade{
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 16px;
}

.conteudo-funcionalidade{
  display: grid;
  grid-template-columns: 1.3fr 1fr;
  gap: 230px;
  align-items: center;
}

.funcionalidade.reverso .conteudo-funcionalidade{
  grid-template-columns: 1fr 1fr;
}

.funcionalidade.reverso .texto-funcionalidade{
  order: 1;
}

.funcionalidade.reverso .imagem-funcionalidade{
  order: 1;
}

.imagem-feature{
  width: 140%;   
  max-width: none;   
  height: auto;
}

.texto-funcionalidade {
  margin-left: 35px;
}

.texto-funcionalidade h2 {
  font-size: 2.5rem;
  font-weight: 800;
  margin-bottom: 1.5rem;
  line-height: 1.4;
}

.texto-funcionalidade p {
  font-size: 1.25rem;
  color: #4f5660;
  line-height: 1.4;
  justify-content: justify;
}